@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

#choice option {
	font-family: 'Open Sans', sans-serif;
}

body {
	
}

#CouponsImage {
	margin: auto;
	vertical-align: middle;
	margin-top:-63px;
	width:405px;
}

input:focus {
	outline: none;
	border: 1px solid #4D90FE;
	-webkit-box-shadow: 0px 0px 5px #4D90FE;
	box-shadow: 0px 0px 5px #4D90FE;
}

.login {
	margin: 16px auto;
	font-size: 12px;
}

/* Reset top and bottom margins from certain elements */
.login-header, .login p {
	margin-top: 0;
	margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
	
}

.login-header {
	background: #28d;
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	margin: auto;
	vertical-align: middle;
	margin-top:-18px;
	width:265px;
	height: 4%;
}

h1 {
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
		margin: auto;
	vertical-align: middle;
	margin-top:-27px;
	width:265px;
	height: 12%;
	
}

.login-container {
	background: #ebebeb;
	padding: 14px;
		margin: auto;
	vertical-align: middle;
	margin-top:-68px;
	width:280px;
	
}

/* Every row inside .login-container is defined with p tags */
.login p {
	padding: 12px;
}

.login input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #bbb;
	padding: 16px;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
}

#loginPassword {
	border-color: #bbb;
}

#loginClientChoice {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 16px;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
	height: 8.5%;
	border-color: #bbb;
}

#loginClientChoice:focus {
	outline: none;
	border: 1px solid #4D90FE;
	-webkit-box-shadow: 0px 0px 5px #4D90FE;
	box-shadow: 0px 0px 5px #4D90FE;
}

.login input[type="submit"] {
	background: #28d;
	border-color: transparent;
	color: #fff;
	cursor: pointer;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 16px;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
}

.login input[type="submit"]:hover {
	background: #17c;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 16px;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
	border-color: #05a;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: -10%;
	border-width: 1px;
	border-style: solid;
	padding: 16px;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
}